{% load static %}
<header>
    <nav class="navbar">
        <div class="navbar-left">
            <ul class="ul-navbar">
                <li class="li-navbar"><a href="#" class="a-navbar">Inicio</a></li>
                <li class="li-navbar"><a href="#" class="a-navbar">Productos</a></li>
                <li class="li-navbar"><a href="#" class="a-navbar">Servicios</a></li>
                <li class="li-navbar"><a href="#" class="a-navbar">Nosotros</a></li>
            </ul>
        </div>
        <div class="navbar-center">
            <img src="{% static 'img/LogoKraitt.png' %}" alt="Logo de Kraitt" class="img-navbar">
        </div>
        <div class="navbar-right">
            <ul class="ul-navbar">
                <li class="li-navbar"><a href="#" class="a-navbar">Contacto</a></li>
                <li class="li-navbar"><a href="#" class="a-navbar">Blog</a></li>
                <li class="li-navbar"><a href="#" class="a-navbar">Cursos de IA</a></li>
            </ul>
        </div>
    </nav>
</header>